{% extends "_layouts/cp" %}
{% import '_includes/forms.twig' as forms %}

{% do view.registerAssetBundle('craft\\web\\assets\\admintable\\AdminTableAsset') -%}
{% do view.registerTranslations('antispam', [
    'IP Address',
    'Reason',
    'Banned At',
    'Actions',
    'Unban',
]) %}

{% set fullPageForm = false %}

{% set crumbs = [
    { label: "Antispam"|t('antispam'), url: url('antispam/banned-ips')},
    { label: "Banned IPs"|t('antispam'), url: url('antispam/banned-ips')}
] %}

{% block actionButton %}

{% endblock %}

{% block content %}
    <form method="post" action="{{ url('antispam/banned-ips/ban-ip') }}">
        {{ csrfInput() }}

        <style>
            .tree-column-fields {
                display: flex;
                gap: 24px;
            }

            .tree-column-fields .field,
            .tree-column-fields button {
                flex: 1;
                margin: 0;
            }

            .tree-column-fields button {
                height: 56px;
            }
        </style>

        <div class="tree-column-fields">
            {{ forms.textField({
                first: false,
                label: 'IP Address'|t('antispam'),
                placeholder: 'IP Address'|t('antispam'),
                instructions: ''|t('antispam'),
                id: 'ip',
                name: 'ip',
                required: true
            }) }}

            {{ forms.textField({
                first: false,
                label: 'Reason'|t('antispam'),
                placeholder: 'Reason'|t('antispam'),
                instructions: ''|t('antispam'),
                id: 'reason',
                name: 'reason',
                required: false,
                maxLength: 255
            }) }}

            <button class="btn submit" type="submit">
                {{ 'Ban IP'|t('antispam') }}
            </button>
        </div>
    </form>

    <hr>

    <div id="data-vue-admin-table"></div>

    {% set tableData = [] %}
    {% for row in bannedIps %}
        {% set tableData = tableData|merge([{
            id: row.id,
            ip_address: row.ip_address,
            reason: row.reason,
            banned_at: row.banned_at|date("Y-m-d H:i:s"),
        }]) %}
    {% endfor %}

    {% js %}
        var columns = [
            { name: 'ip_address', title: Craft.t('antispam', 'IP Address') },
            { name: 'reason', title: Craft.t('antispam', 'Reason') },
            { name: 'banned_at', title: Craft.t('antispam', 'Banned At') },
        ];

        var actions = [
            {
                label: Craft.t('antispam', 'Actions'),
                actions: [
                    {
                        label: Craft.t('antispam', 'Unban'),
                        action: 'antispam/logs/unban-ip',
                        param: 'status',
                        value: 'enabled',
                        status: 'enabled'
                    },
                ]
            }
        ];

        new Craft.VueAdminTable({
            actions: actions,
            checkboxes: true,
            columns: columns,
            container: '#data-vue-admin-table',
            padded: false,
            tableData: {{ tableData|json_encode|raw }}
        });
    {% endjs %}
{% endblock %}
